.wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.heroWrapper {
	position: absolute;
	transition: opacity 0.8s ease;
	width: 100%;
	height: 100%;
}

.heroWrapper::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: none;
	content: '';
}

.heroWrapper.hidden {
	opacity: 0;
	pointer-events: none;
}

.dark {
	--text-color: #fff;
}

.heroWrapper.dark::after {
	background: rgb(0 0 0 / 60%);
}

.heroWrapper.light::after {
	background: rgb(255 255 255 / 60%);
}

.arrowBtn {
	position: absolute;
	top: 50%;
	appearance: none;
	-webkit-appearance: none;
	opacity: 0.25;
	z-index: 3;
	transition: opacity 0.3s ease;
	border: none;
	border-radius: 50%;
	padding: 0.5rem;
	line-height: 0;
}

.arrowBtn:hover {
	opacity: 1;
	cursor: pointer;
}

.arrowBtn:disabled,
.arrowBtn:disabled:hover {
	opacity: 0;
}

.leftArrow {
	left: 1rem;
}

.rightArrow {
	right: 1rem;
}

.dotNav {
	display: flex;
	position: absolute;
	bottom: 5%;
	left: 50%;
	column-gap: 0.75rem;
	transform: translateX(-50%);
	z-index: 3;
}

.dot {
	appearance: none;
	-webkit-appearance: none;
	opacity: 0.25;
	transition: opacity 0.3s ease;
	border: none;
	border-radius: 50%;
	background: black;
	padding: 0;
	width: 0.6rem;
	height: 0.6rem;
	line-height: 0;
}

.arrowBtn:focus-visible,
.dot:focus-visible {
	outline: 2px solid #fff;
	outline-offset: 2px;
}

.dot:hover {
	opacity: 1;
	cursor: pointer;
}

.dot.active {
	opacity: 1;
}

/* Tablet */
@media (width >= 768px) {
	.dot {
		width: 0.75rem;
		height: 0.75rem;
	}
}
